{% extends 'custom.html.twig' %}

{% block body %}
    <h1>Añadir entidad para el fondo {{ fundbanks.fund }}</h1>

    {{ block('crudform') }}

    <ul>
        <li>
            <a href="{{ path('manage_funds_show', { 'id': fundbanks.getFundid } ) }}">Volver al fondo</a>
        </li>
    </ul>
{% endblock %}
