{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>Bienvenido a la aplicación de titulizaciones</h1>
    </div>

    <div id="next">
        <h2>¿Deseas buscar tu hipoteca?</h2>
        <p>
            Tenemos un buscador de hipotecas
            que está en construcción. Mientras tanto, utiliza el <a href="/app">anterior</a>. Cómo buscar:
            <ul>
                <li>Busca en el desplegable tu entidad y selecciónala. Si no está en la listada, puedes ayudarnos a completarla</li>
                <li>Introduce la cantidad exacta del préstamo, incluyendo los céntimos (si los hay)</li>
                <li>Introduce la fecha del préstamo. Esto sirve tanto para descartar fondos en los que buscar,
                así como dotar de mayor exactitud a la búsqueda</li>
            </ul>
        </p>
    </div>
{% endblock %}
