{% extends 'custom.html.twig' %}

{% block body %}
    <h1>Edición de tipo de enlace</h1>

{{ block('crudform') }}
    <ul>
        <li>
            <a href="{{ path('manage_linktypes_index') }}">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
