{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipos de enlace</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Internal</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>{{ fltype.internal }}</td>
                <td><a href="{{ path('admin_linktypes_edit', { 'id': fltype.id }) }}">{{ fltype.linktype }}</a></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_linktypes_index') }}">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
